/* Layout and Container Styles */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  color: white;
}

.navLinks {
  color: white;
  list-style: none;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about {
  display: flex;
  gap: 2rem;
}

/* Specific Elements */
.left {
  background-color: #af493f;
}

.giftIcon {
  font-size: 3rem;
}

imageAbout {
  height: 500px;
}

/* General Styles */
* {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
